<img draggable="false" src="/assets/barn/skoleveien.jpg" id="background-image" alt="bakgrunnsbilde">

<div id="barnForsideWrapper">

  <!--meny-->
  <%= render 'meny' %>

  <!--!!!!!!!!!!!!!!!!MAIN CONTENT!!!!!!!!!!!!!!!!!!!!-->

  <!--Barnehage fag-->
  <%= render 'barnehageFag' %>

  <!--Skoleveien meny-->
  <%= render 'skoleveienMeny' %>
 
  <!-- Fagene til skoleveien -->
  <%= render 'skoleveienFag' %>

  <!-- kanalS fag -->
  <%= render 'kanalSFag' %>

  <!--MFL fag-->
  <%= render 'mFLFag' %>
  
</div>

