<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Salaby.no | En læringsportal</title>

    <%= stylesheet_link_tag    "application", debug: :false %>
    <%= javascript_include_tag "vendor/modernizr", debug: :false %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <header>

    <% if @include_header_info %>

        <%=render 'shared/page_header_info' %>

    <% else %>

    <%= render 'shared/page_header' unless @exclude_header %>

    <% end %>
  </header>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>

  <%= render 'shared/page_footer' unless @exclude_footer %>

</html>