<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="/assets/shared/footer.css" />
  <link rel="stylesheet" href="/assets/shared/header.css" />
  <link rel="stylesheet" href="/assets/voksen/voksen_shared.css" />
  <link rel="stylesheet" href="/assets/voksen/kompetanse.css" />

</head>

<body>
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <img id="siteLogo" src="img/logos/salaby_logo_enkel_rød.png">
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%=link_to "Hjem", static_pages_info_forside_path %>
        </li>
        <li><%=link_to "Bestillinger", static_pages_info_bestilling_path %>
        </li>
        <li><%=link_to "Kompetanse", static_pages_info_kompetanse_path %>
        </li>
        <li><%=link_to "Informasjon", static_pages_info_informasjon_path %>
        </li>
        <li><%=link_to "Til Barnesiden", static_pages_barn_forside_path %>
        </li>
      </ul>
    </section>
  </nav>
</div>


<div id="wrapper">
  <!--SLIDER-->
  <div class="row">
    <div class="large-12 columns">
<aside id="promoBanner">
        <div class="large-8 small-12 columns">
          <img src="/assets/voksen/nyheter/historienOmEuropa.png">
        </div>
        <div class="large-4 small-12 columns">
          <div id="promobannerTextBox">
            <h3>HISTORIEN OM EUROPA</h3>
            <p>NYHET: Helt ferske temasider om
              romertiden, middelalderen,
              renessansen og opplysningstiden
              er nå tilgjengelig under
              «Historien om Europa» for 5.-7. trinn.</p>
          </div>
        </div>

      </aside>
    </div>
  </div>
  <!--OMRÅDE FOR ARTIKLER-->
  <div class="row">

    <div class="large-12 columns">
      <h1>Bestilling</h1>
    </div>
  </div>
  <div id="paymentArea">
    <div class="row">
      <div class="large-12 columns">
        <label>Velg type</label>
        <input type="radio" name="pokemon" value="Kommune" id="kommune">
        <label for="pokemonRed">Kommune</label>
        <input type="radio" name="pokemon" value="Skole" id="skole">
        <label for="pokemonBlue">Skole</label>
        <input type="radio" name="pokemon" value="Barnehagen" id="barnehage">
        <label for="pokemonBlue">Barnehage</label>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Referanse navn
            <input type="text" placeholder="Referanse navn" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Telefon nummer
            <input type="text" placeholder="Telefon nummer" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Skole
            <input type="text" placeholder="Skole" />
          </label>
        </div>
      </div>
      <div class="row">
        <fieldset>
          <legend>Valg av produkt</legend>
          <div class="large-6 columns">
            <label>Velg produkt:
              <select>
                <option value="husker">Barnehage</option>
                <option value="starbuck">Skoleveien</option>
                <option value="hotdog">Kanal S</option>
                <option value="apollo">MFL</option>
              </select>
            </label>
          </div>
          <div class="large-4 columns">
            <label>Antall elever
              <input type="text" placeholder="Antall elever" />
            </label>
          </div>
          <div class="large-2 columns">
            <input class="button" type="button" value="Legg til valg   " />
          </div>
        </fieldset>
        <fieldset>
          <legend>Valgte produkter</legend>
          Det finnes ingen valgte produkter.
        </fieldset>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Kommentar:
            <textarea placeholder="Kommentar"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input class="button expand" type="button" value="Send bestilling">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<!-- salaby logo -->
<footer id="footer" class="large-12 columns">
  <div class="row">
    <div id="footerLogo" class="large-4 medium-2 small-12 columns">
      <img src="img/logos/salaby_logo_enkel_grå.png">
    </div>
    <!-- lenker i midten -->
    <div id="footerMid" class="large-6 medium-7 small-12 columns">
      <ul>
        <li><a href="http://www.gyldendal.no/">© Gyldendal Norsk Forlag</a>
        </li>
        <li><a href="http://web3.gyldendal.no/support/specification/salaby">Systemkrav</a>
        </li>
        <li><a href="http://web3.gyldendal.no/support/contact/salaby">Send tilbakemelding</a>
        </li>
      </ul>
    </div>
    <!-- sosiale medier -->
    <div id="socialLinks" class="large-2 small-3 small-12 columns">
      <a href="https://www.facebook.com/salaby">
        <img src="img/social/facebook_logo.png">
      </a>
      <a href="https://www.youtube.com/user/SalabyGyldendal">
        <img src="img/social/youtube_logo.png">
      </a>
    </div>
  </div>
</footer>
<!-- FOOTER SLUTT -->

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/menuHeadScript.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>