<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <label>Fornavn</label>
        <%= f.text_field :first_name %>

        <label>Etternavn</label>
        <%= f.text_field :last_name %>

        <label>Brukernavn</label>
        <%= f.text_field :username %>
      
        <label>Passord</label>
        <%= f.password_field :password %>

        <label>Gjenta passordet</label>
        <%= f.password_field :password_confirmation %>

        <label>Skriv litt om deg selv!</label>
        <%= f.text_area :description %>

        <%= f.submit "Opprett konto", class: "button expand" %>
    <% end %>
  </div>
</div>