

<%= render 'shared/page_header' %>

<div id="bgUser"><%= image_tag 'barn/skoleveien.jpg'%></div>
<div id="UserWrapper">
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <div id="userInfo">
                        <h1>Endre instillinger</h1>

                            <%= render 'form_edit' %>

                            <%= link_to 'Vis Brukere', users_path %> |
                            <%= link_to 'Tilbake',  @user %>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%= render 'shared/page_footer' %>


