<p id="notice"><%= notice %></p>

<%=render 'shared/page_header'%>

<% if logged_in? %>
    <p>Dette er deg!</p>
    <%end%>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
