  <link rel="stylesheet" href="/assets/shared/header.css" />

<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
          
        <%=link_to image_tag("logos/salaby_logo_enkel_rod.png", border: 0), root_path, {class: 'dock-item'}%>
          
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%=link_to "Hjem", static_pages_info_forside_path %>
        </li>
        <li><%=link_to "Bestillinger", static_pages_info_bestilling_path %>
        </li>
        <li><%=link_to "Kompetanse", static_pages_info_kompetanse_path %>
        </li>
        <li><%=link_to "Informasjon", static_pages_info_informasjon_path %>
        </li>
        <!--SCRIPT FOR Å SJEKKE OM BRUKER ER LOGGET INN-->
        <% if logged_in? %>
          <li>
              <a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000">
                  Bruker <b class="caret"></b></a>
                <ul id="hover1" class="f-dropdown" data-dropdown-content>
                    <li><%=link_to "Min Side", user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Logg ut", logout_path %></li>
            </ul>
          </li>
            <% else %>
                <li><%= link_to "Logg in", login_path %></li>
            <% end %>   
          <!--SLIUTT PÅ SCRIPT-->
        <li><%=link_to "Til Barnesiden", static_pages_barn_forside_path %>
        </li>
      </ul>
    </section>
  </nav>
</div>